*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #2663be;
    grid-area: header-menu;
    color: white; 
}

.car-logo-text{
    display: flex;
    flex-direction: row;
    align-items: center;  
}

.text-logo{
    padding: 10px;
}
.items-menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
.items-menu > a {
    text-decoration: none;
}
.items-menu > a:hover {
    background-color: blue;
}




section{
    display: flex;
    justify-content: center;
    background-color: #b6b0b0;
    grid-area: buscador;
    color: rgb(0, 0, 0);
}


.filter{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.filter-text{
    display: flex;
    width: 50%;
    border-style: none;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}


.filter-types{
    width: 80%;
    padding: 10px;
    border-style: none;
    border-radius: 5px;
    margin: 10px;
}



main{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    grid-area: grilla;
    justify-content: center;
    overflow: scroll;
}

.cards-container{
    display: grid;
    width: 95%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: 1px #d1d1d1 solid;
    border-radius: 5px;
    height: 45vh;
    box-shadow: 0px 5px 10px 0px;
    overflow: auto;
}



.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position:relative;
    overflow: hidden;
}

.img-container img{
    position: absolute;
    height:80%;
}

.descripcion-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.more-button {
    color: aliceblue;
    background-color: #0d57b8;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.pages {
    display: flex;
    width: 100%;    
    background-color: #FFFFFF;
    flex-direction: row;
    grid-area: paginador;
    color: black;
    justify-content: center;
    align-items: center;
}

.pages-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 90px;
    width: 250px;
}

.casilla {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border: 0.25px #dddddd solid;
    color: #0e4ea1;
}

.casilla-right {
    padding: 10px;
    border: 0.25px #dddddd solid;
    border-radius: 0px 5px 5px 0px;
    color: #0e4ea1;

}

.casilla-left {
    padding: 10px;
    border: 0.25px #dddddd solid;
    border-radius: 5px 0px 0px 5px;
    color: #0e4ea1;
}

footer{
    display: flex;
    background-color: #092f61;
    flex-direction: column;
    width: 100%;
    grid-area: pie-pagina;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.screen{
    display: grid;
    height: 100vh;
    grid-template-rows: 2fr 0.5fr 10fr 1fr 2fr; 
    grid-template-areas: 
    "header-menu"
    "buscador"
    "grilla"
    "paginador"
    "pie-pagina";
}


@media(min-width:576px){

    .screen{
        grid-template-areas: 
            "header-menu header-menu"
            "buscador grilla"
            "buscador grilla"
            "buscador paginador"
            "pie-pagina pie-pagina"
            "pie-pagina pie-pagina"
            "pie-pagina pie-pagina"
            "pie-pagina pie-pagina";
        
        grid-template-columns: 4fr 10fr;
    }


    .sections-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
    }

    .filter{
        display: flex;
        justify-content: flex-start;
        padding-top: 1vh;
    }

    .section{
        margin: 2vh;
    }

    .cards-container{
        padding: 20px;
        display: grid;
        width: 95%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        overflow: auto;
    }

}



@media(min-width:992px){
    .screen{
        grid-template-areas: 
            "header-menu buscador"
            "header-menu grilla"
            "header-menu grilla"
            "header-menu grilla"
            "pie-pagina grilla"
            "pie-pagina grilla"
            "pie-pagina paginador";
        
        grid-template-columns: 2fr 10fr;
    }

    nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


    h1{
        font-size: 1.25rem;
    }

    .sections-container{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .section{
        display: flex;
        justify-content: center;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    

    main{
        display: flex;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        grid-area: grilla;
        justify-content: center;
        overflow: scroll;
    }
    
    .cards-container{
        padding: 20px;
        display: grid;
        width: 95%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 30px;
        overflow: auto;
    }

    .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        border: 1px #d1d1d1 solid;
        border-radius: 5px;
        height: 35vh;
        box-shadow: 0px 5px 20px 0px;
        overflow: auto;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .text-footer{
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-footer p{

        font-size: 1rem;
        

    }
}